html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;

    font-family:
        Inter,
        system-ui,
        sans-serif;

    color: var(--color-text);

    //background-color: var(--color-background);
    background-color: #0000ff !important;

    line-height: 1.6;
    font-size: 1rem;
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}