:root {

  --color-primary: #0d5cff;
  --color-secondary: #1e293b;

  --color-bg: #ffffff;
  --color-surface: #f8fafc;

  --color-text: #1f2937;

  --header-height: 90px;

  --color-background: #bbbbbb;
  --color-surface: #f8fafc;

  --radius: 12px;

  --space-xs: .5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;

  --container-width: 1400px;

  --radius-sm: .5rem;
  --radius-md: 1rem;

  --shadow:
      0 8px 20px rgba(0,0,0,.08);
}
