.navbar-top {

    background: #111827;

    color: white;

    font-size: .875rem;
}

.navbar-top .container {

    display: flex;

    justify-content: space-between;

    align-items: center;

    min-height: 40px;
}