.navbar-top {
    //background: var(--navbar-top-background1);
    color: var(--navbar-top-color);
    border-radius: 0;
    font-size: .8125rem;
}

.navbar-top .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;

    min-height: 32px;

    flex-wrap: wrap;
}

.navbar-top .ce_ct_featureElement {
    display: flex;
    align-items: center;
    gap: .5rem;

    margin: 0;
}

.navbar-top .icon {
    color: var(--DwColor6);
}

.navbar-top a {
    color: var(--DwColor6);
    text-decoration: none;
}

.navbar-top a:hover {
    color: var(--DwColor2);
}

.navbar-top .social-media {
    display: flex;
    gap: 1rem;
}

.navbar-top .feature-text {
    display: flex;
}

.navbar-top .headline,
.navbar-top .text p {
    margin: 0;
}

@media (max-width: 768px) {

    .navbar-top {
        display: none;
    }
}