.container {
    width: 100%;
    //    width: min(100% - 2rem, 88rem);

    max-width: var(--container-maxwidth);

    margin-left: auto;
    margin-right: auto;

    padding-right: calc(var(--bs-gutter-x) * 0);
    padding-left: calc(var(--bs-gutter-x) * 0);
}