.footer {
    background: var(--main-footer-background);
    color: var(--main-footer-color);
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    max-width: var(--container-maxwidth);
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--borderRadius);
}

.footer .mod_article {
    margin-bottom: 0;
    padding: 0;
    background: transparent;
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
    color: var(--main-footer-color);
}
.footer a {
    color: inherit;
}

.footer .icon {
    float: left;
    padding-right: 0.2rem;
}

.footer a:hover {
    color: var(--footer-links-hover-color);
}

.copyright-footer {
    //padding-block: 2rem;
    text-align: center;
}