.page__footer {

    margin-top: auto;

    padding: 3rem 0;

    background: #111827;

    color: white;
}

.dw-footer {

    background: #111827;

    color: white;

    margin-top: 5rem;
}

.dw-footer a {

    color: white;
}

.copyright-footer {

    padding-block: 2rem;
}