.header {
    width: 100%;

    background: #ffffff;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        min-height: 120px;
    }

    .logo {
        display: block;
        flex: 0 0 auto;
    }

    .logo img {
        width: auto;
        max-height: 5rem;
    }
}