/*
 * header.scss
 */

.header {
    position: relative;
    z-index: 10;

    background: var(--header-background);

    box-shadow: none;
}

/* ==================================================
   Main Header
================================================== */

.navbar-main {
    background: var(--navbar-background);
    border-radius: 0;
}

.navbar-main .container {
    display: grid;
    grid-template-columns: 220px 1fr auto;

    align-items: center;

    gap: 2rem;

    min-height: 96px;
}

/* ==================================================
   Logo
================================================== */

.navbar-logo {
    display: flex;
    align-items: center;
    padding-top: 0.7rem;
}

.navbar-logo .mod_article {
    margin: 0;
}

.navbar-logo img {
    display: block;

    max-height: 72px;
    width: auto;
}

/* ==================================================
   Mobile Toggler
================================================== */

.navbar-toggler {
    display: none;

    width: 48px;
    height: 48px;

    border: 0;
    color: var(--navbar-toggler-color);
    background: var(--navbar-toggler-background);

    cursor: pointer;
}

.navbar-toggler span {
    display: block;

    width: 28px;
    height: 3px;

    margin: 5px auto;

    background: currentColor;

    transition: .3s;
}

/* ==================================================
   Mobile
================================================== */

@media (max-width: 1024px) {

    .navbar-main .container {

        grid-template-columns:
            1fr
            auto;

        gap: 1rem;
    }

    .navbar-toggler {
        display: block;
    }

}